/*!
 * @名称:  admin
 * @功能:  自定义样式
 * @作者:  Rachel
 * @版本:  1.0.0
*/
body{background:#ebebeb; font-family: "microsoft yahei";}
input, button, select, textarea{ font-family: "microsoft yahei";}
ul,li{ list-style:none;margin:0; padding:0;}

.leftcon {float:left;width:220px;background-color:#ebebeb;min-height:900px;}
.logo{background:#235688;height:42px;border-right:1px solid #023c70;padding:8px 0 0 10px;}
.logo h1{font-size: 14px;background:url(../img/logo.png) no-repeat;padding-left:75px;margin-top:0;color:#d8d8d8;}
.datewidget,.break{height:30px;line-height:30px;text-align:center;background:#232323;color:#808080;font-size:12px;border-right: 1px solid #1e1e1e;}
.wrap{border-left:1px solid #cfcfcf;}
.leftmenu ul{padding-top:10px;}
.leftmenu li a{background:url(../img/arrowdown.png) no-repeat right center;display:block;height:30px;line-height:30px;border-bottom:1px solid #dfdfdf;color:#333;padding:5px 0 5px 35px;}
.leftmenu li.admin1 a {background:none;}
.leftmenu li a:hover{background:url(../img/arrowdown.png) no-repeat #f2f2f2 right center;text-decoration:none;}
.leftmenu li.admin1 a:hover{background-image:none;background:#f2f2f2;}
.leftmenu li dd a{background:none;border-bottom:0;height:20px;line-height:20px;padding:3px 0 3px 35px;font-size:12px;color:#616060;width:150px;}
.leftmenu li dl{margin:5px 5px 0 5px;padding-bottom:5px;border-bottom:1px solid #dfdfdf;}
.leftmenu li dd a:hover{background:#d3d2d2;}

.content {background:#fff;margin-left:220px;/*==等于左边栏宽度==*/}
.head{background:#3b6998;height:42px;padding:8px 0 0 10px;}
.break ul{padding-left:15px;}
.break li{float:left;color:#fff;line-height:30px;}
.break .divider{color:#808080;margin:0 5px;}
.break li a{color:#808080;}
.headerright{float:right;padding:0 10px;}
.right-text{float:left;color:#fff;font-size:12px;display:inline-block;margin-left:7px;position:relative;}
.user{display:inline-block;padding: 7px 10px 7px 18px;background:url(../img/user.png) no-repeat 0 7px;}
.right-text a{display:inline-block;background:#0b4073;padding: 7px 10px;color: #ccc;box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2);}
.right-text a:hover{color:#fff;text-decoration:none;}
.icon{display:inline-block;background:url(../img/arrowdown1.png) no-repeat 0 3px;width: 14px;height: 14px;margin: 3px 0 0 10px;line-height: 14px;vertical-align: text-top;}
.down-menu{position:absolute;min-width:118px;padding:3px;margin:2px 0 0;background-color:#fff;border:1px solid #dfdfdf;}
.down-menu a{display:inline-block;background:none;padding: 7px 10px;color: #333;box-shadow:none;}
.down-menu a:hover{background:#3b6998}
.history{padding-left:30px;height:55px;line-height:55px;background:url(../img/subbg.jpg) repeat-x;border-bottom:1px solid #ccc;}
.history i{margin:3px 0 0 0;}
.block{padding:10px;width:auto;}
.block h4{font-size:16px;margin:0;height:40px;line-height:40px;text-indent:20px;border-bottom:1px solid #dfdfdf;}
.block h4 .icon-table{background:url(../img/icon.jpg) no-repeat;margin:6px 5px 0 0;}
.iconright{float:right;padding-right:25px;}
.icon-plus-sign{background:url(../img/icon1.png) no-repeat;margin-top:5px;cursor:pointer;}
.icon-minus-sign{background:url(../img/icon2.png) no-repeat;margin-top:5px;cursor:pointer;}
.block .cont{padding:10px;}
.input-box{padding:10px 0;font-size:12px;color:#979696;}
.input-box .inline{display:inline-block;padding:3px 0;}
.input-box label{font-size:12px;}
.input-box input,.input-box select{margin-right:10px;width:auto;border-radius:0;font-size:12px;}
.input-box .btn-primary{border-radius:0;background:#2547a7;background-image:none;}
.input-box .btn{border-radius:0;font-size:12px;}
.input-box .form-horizontal .control-label{width:100px;}
.input-box .form-horizontal .controls{margin-left:20px;}
.input-box .form-horizontal .control-group:before, .form-horizontal .control-group:after{content:none;}
.table-box{padding:10px;margin:0 auto;}
.tab-box .tab-content{background:#f8f8f8;border:1px solid #ccc;border-top:0;padding:20px;}
.tab-box .nav{margin-bottom:0;}
.tab-box .nav-tabs{border-bottom-color:#ccc;}
.tab-box .nav-tabs > li > a{border-radius:0;background-image: linear-gradient(to bottom, #F7F7F7, #ebeceb);border-color:#ccc;}
.tab-box .nav-tabs > .active > a,.tab-box .nav-tabs > .active > a:hover,.tab-box .nav-tabs > .active > a:focus{background:#f8f8f8;border-color:#ccc #ccc transparent;}
.tab-box .nav-tabs > li > a,.tab-box .nav-pills > li > a{margin-right:-1px; padding:10px 20px;}