{{$entity := .Entity}}
{{$id := getComponentId "gridpanel" }}
{{$tableId := getComponentId "table" }}
{{$pageId := getComponentId "page" }}
{{$terminal := .Terminal }}
<div class="block gridpanel" id="{{$id}}" style="width: 100%;">
    <h4 class="title">
        <i class="icon-table"></i>{{.CustomGridPanel.Title}}
	 			<span class="iconright">
	 				<!--点击收起的时候用这个<i class="icon-plus-sign"></i>-->
	 				<i class="icon-minus-sign"></i>
	 			</span>
    </h4>

    <div class="cont">
        <div class="input-box text-center">
            {{if compareInt .SearchLength 0 "gt" }}
            <form class="form-inline">
                {{range $searchIndex,$search := .CustomGridPanel.Searchs}}
                <div class="inline form-field"
                     field-desc="{{$search.Desc}}"
                     field-name="{{$search.Field}}"
                     field-searchType="{{$search.SearchType}}"
                     field-inputType="{{$search.InputType}}"
                     field-localData="{{$search.LocalData}}"
                     field-url="{{$search.Url}}"
                     field-valueField="{{$search.ValueField}}"
                     field-descField="{{$search.DescField}}"

                     field-char14="{{$search.Char14}}"

                     field-char8="{{$search.Char8}}"

                     field-parentSelect="{{$search.ParentSelect}}"
                        >
                </div>
                {{end}}
                <div class="inline">
                    <a href="javascript:void(0)" data-action="search" class="btn btn-primary">搜索</a>
                    <a href="javascript:void(0)" data-action="reset"  class="btn">重置</a>
                </div>
            </form>
            {{end}}

            {{if compareString .CustomGridPanel.Checkboxtool.Desc ""}}
            {{else}}
            <fieldset class="checkbox-box" data-loadUrl="{{.CustomGridPanel.Checkboxtool.LoadUrl}}" data-saveUrl="{{.CustomGridPanel.Checkboxtool.SaveUrl}}">
                <legend>{{.CustomGridPanel.Checkboxtool.Desc}}</legend>
                <div class="checkbox-container">
                </div>
                <div class="inline">
                    <a href="javascript:void(0)" data-action="checkboxSave" class="btn btn-primary">保存</a>
                </div>
            </fieldset>
            {{end}}

            <div class="btn-box">
                {{range $toolActionIndex,$toolAction := .CustomGridPanel.ToolActions}}
                {{if compareString $toolAction.LinkType "newPage"}}
                <a href="{{$toolAction.Url}}" class="{{$toolAction.ColorClass}}" data-loadUrl="{{$toolAction.LoadUrl}}" target="_blank">{{$toolAction.Desc}}</a>
                {{end}}
                {{if compareString $toolAction.LinkType "iframeWindow"}}
                <a href="{{$toolAction.Url}}" class="{{$toolAction.ColorClass}}" data-loadUrl="{{$toolAction.LoadUrl}}" data-action="openIframeWindow">{{$toolAction.Desc}}</a>
                {{end}}
                {{if compareString $toolAction.LinkType "mutiSelect"}}
                <a href="{{$toolAction.Url}}" class="{{$toolAction.ColorClass}}" data-loadUrl="{{$toolAction.LoadUrl}}" data-action="mutiSelect" confirmMsg="{{$toolAction.ConfirmMsg}}" params="{{$toolAction.Params}}">{{$toolAction.Desc}}</a>
                <callback style="display: none;">
                    {{$toolAction.Callback}}
                </callback>
                {{end}}
                {{if compareString $toolAction.LinkType "mutiSelectIframeWindow"}}
                <a href="{{$toolAction.Url}}" class="{{$toolAction.ColorClass}}" data-loadUrl="{{$toolAction.LoadUrl}}" data-action="mutiSelectIframeWindow" params="{{$toolAction.Params}}">{{$toolAction.Desc}}</a>
                {{end}}
                {{if compareString $toolAction.LinkType "addToCheckBox"}}
                <a href="#" class="{{$toolAction.ColorClass}}" data-action="addToCheckBox" checkboxDesc="{{$toolAction.CheckboxDesc}}">{{$toolAction.Desc}}</a>
                {{end}}
                {{end}}
            </div><!--E btn-box-->

            <div class="table-box">
                <table id="{{$tableId}}"></table>
                <div class="page" id="{{$pageId}}"></div>
            </div><!--E table-box-->

            <beforeRender style="display: none;">
                {{.CustomGridPanel.BeforeRender}}
            </beforeRender>
            <afterRender style="display: none;">
                {{.CustomGridPanel.AfterRender}}
            </afterRender>
            <customSearch style="display: none;">
                {{.CustomGridPanel.CustomSearch}}
            </customSearch>
        </div>
    </div><!--E cont-->
</div><!--E block-->

<script type="text/javascript">
    seajs.use('lessgo-grid',function(){
        var {{$id}}ColumnModels = [];
        var {{$id}}ColumnNames = [];
        var {{$id}}Actions = [];

        var {{$id}}Width = $('#{{$id}}').width()-50;

        {{range $columnIndex,$column := .CustomGridPanel.Columns}}
        {{$id}}ColumnModels.push({
            "name" : '{{$column.Field}}',
            "index" : '{{$column.Field}}',
            "sortable":false,
            {{if compareString $column.Hidden "true"}}
            "hidden" : true,
            {{end}}
            {{if compareString $column.Formatter ""}}
            {{else}}
            "formatter":function(cellvalue, options, rowObject){
                {{$column.Formatter}}
            },
            {{end}}
            "width":70
        });
        {{$id}}ColumnNames.push('{{$column.Desc}}');
        {{end}}

        //放置操作列
        {{$id}}ColumnModels.push({
            "name" : '操作',
            "index" : '操作',
            "width":70,
            "sortable":false,
            {{if compareInt .ActionLength 0 "gt"}}
            "hidden" : false,
            {{else}}
            "hidden" : true,
            {{end}}
            "formatter":function(cellvalue, options, rowObject){
                 var value = "";
                {{range $index,$action := .CustomGridPanel.Actions}}
                var action = {
                    linkType : '{{$action.LinkType}}',
                    desc : '{{$action.Desc}}',
                    url : '{{$action.Url}}',
                    confirmMsg : '{{$action.ConfirmMsg}}',
                    actionParams : "{{$action.ActionParams}}"
                }
                value += gridActionRender(cellvalue, options, rowObject,action);
                {{end}}
                return value;
            }
        });
        {{$id}}ColumnNames.push('操作');

        var {{$id}}DataUrl = '{{.CustomGridPanel.Url}}?componentId={{.CustomGridPanel.Id}}'
        {{if compareString .CustomGridPanel.LoadUrl "true"}}
        if(document.URL.lastIndexOf('?')>-1){
            {{$id}}DataUrl = {{$id}}DataUrl + "&"+ document.URL.substring(document.URL.lastIndexOf('?')+1,document.URL.length);
        }
        {{end}}

        $('#{{$id}}').grid({
            tableId : '{{$tableId}}',
            pageId : '{{$pageId}}',
            componentId : '{{.CustomGridPanel.PageId}}',
            dataurl:{{$id}}DataUrl,
            colNames:{{$id}}ColumnNames,
            width:{{$id}}Width,
            height:{{.CustomGridPanel.Height}},
            mutiSelect : {{if .CustomGridPanel.MutiSelect}}{{.CustomGridPanel.MutiSelect}}{{else}}false{{end}},
            colModel:{{$id}}ColumnModels,
            rowNum:{{.CustomGridPanel.PageSize}},
            actions:{{$id}}Actions
        });
    });
</script>
