{{$entity := .Entity}}
{{$id := getComponentId "gridpanel" }}
{{$tableId := getComponentId "table" }}
{{$pageId := getComponentId "page" }}
{{$terminal := .Terminal }}
<div class="block gridpanel" id="{{$id}}" style="width: {{.CustomGridPanel.Width}}px;">
    <h4 class="title">
        <i class="icon-table"></i>{{.CustomGridPanel.Title}}
	 			<span class="iconright">
	 				<!--点击收起的时候用这个<i class="icon-plus-sign"></i>-->
	 				<i class="icon-minus-sign"></i>
	 			</span>
    </h4>

    <div class="cont">
        <div class="input-box text-center">
            {{if compareInt .SearchLength 0 "gt" }}
            <form class="form-inline">
                {{range $searchIndex,$search := .CustomGridPanel.Searchs}}
                <div class="inline form-field"
                     field-desc="{{$search.Desc}}"
                     field-name="{{$search.Field}}"
                     field-searchType="{{$search.SearchType}}"
                     field-inputType="{{$search.InputType}}"
                     field-localData="{{$search.LocalData}}"
                     field-url="{{$search.Url}}"
                     field-valueField="{{$search.ValueField}}"
                     field-descField="{{$search.DescField}}"
                        >
                </div>
                {{end}}
                <div class="inline">
                    <a href="javascript:void(0)" data-action="search" class="btn btn-primary">搜索</a>
                    <a href="javascript:void(0)" data-action="reset"  class="btn">重置</a>
                </div>
            </form>
            {{end}}

            <div class="table-box">
                <table id="{{$tableId}}"></table>
                <div class="page" id="{{$pageId}}"></div>
            </div><!--E table-box-->
        </div>
    </div><!--E cont-->
</div><!--E block-->

<script type="text/javascript">
    seajs.use('lessgo-grid',function(){
        var {{$id}}ColumnModels = [];
        var {{$id}}ColumnNames = [];
        var {{$id}}Actions = [];

        var {{$id}}Width = {{.CustomGridPanel.Width}}-50;

        {{range $columnIndex,$column := .CustomGridPanel.Columns}}
        {{$id}}ColumnModels.push({
            "name" : '{{$column.Field}}',
            "index" : '{{$column.Field}}',
            "width":70,
            "sortable":false,
            {{if compareString $column.Hidden "true"}}
            "hidden" : true,
            {{end}}
            "formatter":function(cellvalue, options, rowObject){
                var newValue = cellvalue;

                {{if compareString $column.Format "" }}
                {{else}}
                var formatObject = eval('('+"{{$column.Format}}"+')');
                for(var i=0;i<formatObject.length;i++){
                    if(formatObject[i].value == newValue){
                        newValue = formatObject[i].desc;
                    }
                }
                {{end}}

                {{if compareString $column.LinkType "currentPage"}}
                    newValue = "<a style='color:blue;text-decoration:underline;' href='{{$column.Url}}{{if compareString $column.LoadParamName "" }}{{else}}?{{ $column.LoadParamName}}="{{if compareString $column.LoadParamValue "id" }}+options.rowId+{{else}}{{if compareString $column.LoadParamValue "this"}}+newValue+{{else}}+rowObject[{{$column.LoadParamValue}}]+{{end}}{{end}}{{end}}"'>"+newValue+"</a>"
                {{end}}

                return newValue;
            }
        });
        {{$id}}ColumnNames.push('{{$column.Desc}}');
        {{end}}

        {{if .CustomGridPanel.Actions}}
        {{range .CustomGridPanel.Actions}}
        {{$id}}Actions.push({
            action : '{{.Action}}',
            desc : '{{.Desc}}',
            url : '{{.Url}}'
        });
        {{end}}
        {{end}}

        var dataUrl = '{{.CustomGridPanel.Url}}?componentId={{.CustomGridPanel.Id}}'
        {{if compareString .CustomGridPanel.LoadUrl "true"}}
        if(document.URL.lastIndexOf('?')>-1){
            dataUrl = dataUrl + "&"+ document.URL.substring(document.URL.lastIndexOf('?')+1,document.URL.length-1);
        }
        {{end}}

        $('#{{$id}}').grid({
            tableId : '{{$tableId}}',
            pageId : '{{$pageId}}',
            dataurl:dataUrl,
            colNames:{{$id}}ColumnNames,
            width:{{$id}}Width,
            height:{{.CustomGridPanel.Height}},
            colModel:{{$id}}ColumnModels,
            rowNum:{{.CustomGridPanel.PageSize}},
            actions:{{$id}}Actions
        });
    });
</script>
