{{$model := .Model}}
{{$id := getComponentId "mutiformpanel" }}
{{$mutiFormPanel := .MutiFormPanel }}
<div class="block mutiformpanel"></div>
<div class="block mutiformpanel" id="{{$id}}">
    <h4 class="title">
        <i class="icon-table"></i>数据保存
	 			<span class="iconright">
	 				<!--点击收起的时候用这个<i class="icon-plus-sign"></i>-->
	 				<i class="icon-minus-sign"></i>
	 			</span>
    </h4><!--E title-->
    <div class="cont">
        <form class="form-horizontal">
            <div class="input-box">
                    {{range $elementIndex,$element := .MutiFormPanel.PublicElement.Elements}}
                    {{$value := getPropValue $model $element.Field}}
                    <div class="control-group form-field"
                         field-type="{{$element.Type}}"
                         field-desc="{{$element.Desc}}"
                         field-name="{{$element.Field}}"
                         field-value="{{if $model}}{{dealHTMLEscaper $value }}{{end}}"
                         field-localData="{{$element.LocalData}}"
                         field-url="{{$element.Url}}"
                         field-valueField="{{$element.ValueField}}"
                         field-descField="{{$element.DescField}}"
                         field-readonly="{{$element.Readonly}}"
                         field-defaultValue="{{$element.DefaultValue}}"
                         field-validate="{{$element.Validate}}"
                            >
                    </div>
                    {{end}}
            </div><!--E input-box-->
            <div class="tab-box">
                <ul class="nav nav-tabs">
                    {{range $tabIndex,$tab := .MutiFormPanel.FormTabs}}
                    <li><a href="#{{$id}}-tabs-{{$tabIndex}}">{{$tab.Desc}}</a></li>
                    {{end}}
                </ul>
                <div class="tab-content">
                    {{range $tabIndex,$tab := .MutiFormPanel.FormTabs}}
                    <div class="tab-pane active" id="{{$id}}-tabs-{{$tabIndex}}">
                        <div class="input-box">
                            {{range $elementIndex,$element := $tab.Elements}}
                            <div class="form-field control-group"
                                 field-type="{{$element.Type}}"
                                 field-desc="{{$element.Desc}}"
                                 field-name="{{$tab.Entity}}.{{$element.Field}}"
                                 field-value="{{if $model}}{{getPropValue $model $element.Field }}{{end}}"
                                 field-localData="{{$element.LocalData}}"
                                 field-url="{{$element.Url}}"
                                 field-valueField="{{$element.ValueField}}"
                                 field-descField="{{$element.DescField}}"
                                 field-readonly="{{$element.Readonly}}"
                                 field-defaultValue="{{$element.DefaultValue}}"
                                 field-validate="{{$element.Validate}}"
                                    >
                            </div>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
                <div class="control-group text-center">
                    <div class="controls">
                        <a href="javascript:void(0);" data-action="save" class="btn btn-primary">保存</a>
                        <a href="javascript:void(0);" data-action="reset" class="btn">重置</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#{{$id}}').form({
        saveUrl: '/mutisave?componentId={{.MutiFormPanel.Id}}',
        successCallback: function (data) {
            alert('保存成功');
            window.close();
        },
        failCallback: function (data) {
            alert(data.msg);
        }
    });
</script>
